<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h2>authors</h2>

<div class="flex-container">

<div class="col">

<table id="author-table">

    <thead>
        <h3>Authors sorted by last name.</h3>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td id="id">{{this.id}}</td>
            <td>{{this.last}}</td>
            <td>{{this.first}}</td>
            <td>{{this.middle}}</td>
            <td><button><a href="#">Edit</a></button></td>
            <td><button onclick="deleteAuthor({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
    
</table>

</div>

<div class="col">
<h3>Add a new author.</h3>

<form id="add-author-form" method="POST" action="/add-author-form">
<p>To add a new author, please enter their information below then click submit.</p>
    <label for="input-firstName" class="left">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName" required>
    <br>

    <label for="input-middleName">Middle Name: </label>
    <input type="text" name="input-middleName" id="input-middleName">
    <br>

    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName" required>
    <br>
    
    <input type="submit" class="submit">

</form>
</div>

<div class="col">
<h3>Search for an author.</h3>

<form id="search-author-html" method='GET' action='/authors'>
<p>Search by last name using the field below. Partial last names are able to be searched.</p>
    <br>
    <label for="input-lastName">Search by Last Name: </label>
    <input type="text" name="lastName" id="input-lastName-html-search">
    
    <br>
    <input type="submit" class="submit">
    <a href='/'><button>Reset</button></a>

</form>
</div>

<div class="col">
    <h3>Update an author.</h3>
    <form id="update-author-form">

        <label for="input-firstName">First Name: </label>
        <input type="text" name="input-firstName" id="input-firstName" required>
        <br>

        <label for="input-middleName">Middle Name: </label>
        <input type="text" name="input-middleName" id="input-middleName">
        <br>

        <label for="input-lastName">Last Name: </label>
        <input type="text" name="input-lastName" id="input-lastName" required>
        <br>

        <input type="submit" class="submit" onclick="updateAuthor{{this}}">

    </form>


</div>

</div>

<script src="./js/delete_author.js"></script>
<script src="./js/update_author.js"></script>