<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<h2>authors</h2>

<div class="flex-container">

  <div>

    <table id="author-table">

      <thead>
        <h3>Authors sorted by last name.</h3>
        <tr>
          <th>id</th>
          <th>last</th>
          <th>first</th>
          <th>middle</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.last}}</td>
            <td>{{this.first}}</td>
            <td>{{this.middle}}</td>
            <td><button id="delete" class="delete" onclick="deleteAuthor({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}

      </tbody>

    </table>

    <script src="./js/delete_author.js"></script>

  </div>

  <div>
    <h3>Search for an author.</h3>

    <form id="search-author-html" method="GET" action="/authors">
      <p>Search by <b>last name</b> using the field below. Partial last names are able
        to be searched. To reset the table, click the reset button below.</p>

      <label for="input-lastName" class="col-40">Search by last name: </label>
      <br />

      <input type="text" name="lastName" id="input-lastName-html-search" />
      <br />

      <button class="submit">Submit</button>
      <a href="/"><button>Reset</button></a>

    </form>
  </div>

  <div>
    <h3>Add a new author.</h3>

    <form id="add-author-form" method="POST" action="/add-author-form">

      <p>To add a new author, please enter their information below then click
        submit.</p>

      <label for="input-firstName" class="col-40">First Name: </label>
      <input type="text" name="input-firstName" id="input-firstName" required />
      <br />

      <label for="input-middleName" class="col-40">Middle Name: </label>
      <input type="text" name="input-middleName" id="input-middleName" />
      <br />

      <label for="input-lastName" class="col-40">Last Name: </label>
      <input type="text" name="input-lastName" id="input-lastName" required />
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

  <div>

    <h3>Update an author.</h3>
    
    <form id="update-author-form">
      <p>Use the form below to update an authors information.</p>

    
      <label for="select-author" class="col-40">Author to update: </label>
      <select name="select-author" id="select-author" onchange="updateFormValues()">
        <option value=""></option>
        {{#each dropDown}}
          <option value="{{this.id}},{{this.first}},{{this.middle}},{{this.last}}">{{this.author}}</option>
        {{/each}}
      </select>
      <br />

      <label for="input-firstName" class="col-40">First Name: </label>
      <input
        type="text"
        name="input-firstName"
        id="input-newFirstName"
        required
      />
      <br />

      <label for="input-middleName" class="col-40">Middle Name: </label>
      <input type="text" name="input-middleName" id="input-newMiddleName" />
      <br />

      <label for="input-lastName" class="col-40">Last Name: </label>
      <input
        type="text"
        name="input-lastName"
        id="input-newLastName"
        required
      />
      <br />

      <button class="submit">Submit</button>
    </form>

  </div>

</div>

<script src="./js/update_author.js"></script>