<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<h2>authorsBooks</h2>

<div class="flex-container">

  <div>
    <table id="author-book-table">
      <thead>
        <h3>An intersection table sorted by author last name then by book title.</h3>
        <tr>
          <th>id</th>
          <th>author id</th>
          <th>author</th>
          <th>book id</th>
          <th>title</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.author_id}}</td>
            <td>{{this.author}}</td>
            <td>{{this.book_id}}</td>
            <td>{{this.title}}</td>
            <td><button id="delete" class="delete" onclick="deleteAuthorBook({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <script src="./js/delete_authorBook.js"></script>

  </div>

  <div>
    <h3>Associate an author with a book.</h3>

    <form id="add-authorBook-form" method="POST" action="/add-authorBook-form">

      <p>To associate an author with a book please submit the form below.</p>

      <label for="select-author" class="col-40">Author: </label>
      <select name="select-author" id="select-author">
        <option value=""></option>
        {{#each dropDown1}}
          <option value="{{this.id}}">{{this.author}}</option>
        {{/each}}
      </select>
      <br />

      <label for="select-book" class="col-40">Book: </label>
      <select name="select-book" id="select-book">
        <option value=""></option>
        {{#each dropDown2}}
          <option value="{{this.id}}">{{this.title}}</option>
        {{/each}}
      </select>
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

</div>