<h2>authorsBooks</h2>

<div class="flex-container">

<div>
<table>
    <thead>
        <h3>An intersection table, ordered by id.</h3>
        <tr>
            <th>id</th>
            <th>author id</th>
            <th>author</th>
            <th>book id</th>
            <th>title</th>
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.author_id}}</td>
            <td>{{this.author}}</td>
            <td>{{this.book_id}}</td>
            <td>{{this.title}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

</div>