<header>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="./js/delete_book.js"></script>
</header>

<h2>books</h2>

<div class="flex-container">

  <div>
    <table id="book-table">
      <thead>
        <h3>Books sorted by title.</h3>
        <tr>
          <th id="book-id">id</th>
          <th>title</th>
          <th>author</th> 
          <th>quantity</th>
          <th>price</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td id="book-id">{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td><button onclick="deleteBook({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div>
    <h3>Search for a book.</h3>

    <form id="search-book-html" method="GET" action="/books">
      <p>Search by book title using the field below. Partial titles are able to
        be searched. To reset the table, click the reset button below.</p>
      <br />
      <label for="input-lastName">Search by title: </label>
      <br />
      <input type="text" name="title" id="input-title-html-search" />

      <br />
      <button class="submit">Submit</button>
      <a href="/"><button>Reset</button></a>

    </form>
  </div>

  <div>
    <h3>Add a new book.</h3>

    <form id="add-book-form" method="POST" action="/add-book-form">

      <p>To add a new book, please enter its information below then click
        submit.</p>

      <label for="input-title" class="left">Title: </label>
      <input type="text" name="input-title" id="input-title" required />
      <br />

     {{!-- <label for="select-author">Author: </label>
      <select name="select-author" id="select-author">
        <option value=""></option>
        {{#each dropDown}}
          <option value="{{this.id}}" name="select-author">{{this.author}}</option>
        {{/each}}
      </select>
      <br /> --}}

      <label for="input-quantity">Quantity: </label>
      <input
        type="number"
        name="input-quantity"
        id="input-quantity"
        min="1"
        required
      />
      <br />

      <label for="input-price">Price: </label>
      <input
        type="number"
        name="input-price"
        id="input-price"
        min="1"
        step="any"
        required
      />
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

</div>
