<header>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</header>

<h2>books</h2>

<div class="flex-container">

  <div>
    <table id="book-table">
      <thead>
        <h3>Books sorted by title.</h3>
        <tr>
          <th id="book-id">id</th>
          <th>title</th>
          <th>author</th> 
          <th>quantity</th>
          <th>price</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.author}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.price}}</td>
            <td><button id="delete" class="delete" onclick="deleteBook({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <script src="./js/delete_book.js"></script>
  </div>

  <div>
    <h3>Search for a book.</h3>
    <form id="search-book-html" method="GET" action="/books">
      <p>Search by <b>book title</b> using the field below. Partial titles are able to
        be searched. To reset the table, click the reset button below.</p>
      <label for="input-title-html-search" class="col-40">Search by title: </label>
      <br />
      <input type="text" name="title" id="input-title-html-search" />

      <br />
      <button class="submit">Submit</button>
      <a href="/"><button>Reset</button></a>

    </form>
  </div>

  <div>
    <h3>Add a new book.</h3>

    <form id="add-book-form" method="POST" action="/add-book-form">

      <p>To add a new book, please enter its information below then click
        submit.</p>

      <label for="input-title" class="col-40">Title: </label>
      <input type="text" name="input-title" id="input-title" required />
      <br />

      <label for="input-quantity" class="col-40">Quantity: </label>
      <input
        type="number"
        name="input-quantity"
        id="input-quantity"
        min="1"
        required
      />
      <br />

      <label for="input-price" class="col-40">Price: </label>
      <input
        type="number"
        name="input-price"
        id="input-price"
        min="1"
        step="any"
        required
      />
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

   <div>

    <h3>Update a book.</h3>
    
    <form id="update-book-form">
      <p>Use the form below to update a book.</p>

      <label for="select-book" class="col-40">Book to update: </label>
      <select name="select-book" id="select-book" onchange="updateFormValues()">
        <option value=""></option>
        {{#each dropDown}}
          <option value="{{this.id}},{{this.title}},{{this.quantity}},{{this.price}}">{{this.title}}</option>
        {{/each}}
      </select>

      <br>
      <hr class="line">
      <br>

      <label for="input-newTitle" class="col-40">Title: </label>
      <input
        type="text"
        name="input-newTitle"
        id="input-newTitle"
        required
      />
      <br />

      <label for="input-newQuantity" class="col-40">Quantity: </label>
      <input
        type="number"
        min="1"
        name="input-newQuantity"
        id="input-newQuantity"
        required
      />
      <br />

      <label for="input-newPrice" class="col-40">Price: </label>
      <input
        type="number"
        min="1"
        step="any"
        name="input-newPrice"
        id="input-newPrice"
        required
      />
      <br />


      <button class="submit">Submit</button>
    </form>

    <script src="./js/update_book.js"></script>

  </div>

</div>
