<h2>customers</h2>

<div class="flex-container">

<div>
<table>

    <thead>
        <h3>Customers sorted by last name.</h3>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
        
    </thead>

    <tbody>
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.last}}</td>
            <td>{{this.first}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

</div>