<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_purchase.js"></script>
</head>

<h2>purchases</h2>

<div class="flex-container">

  <div>
    <table>

      <thead>
        <h3>Purchases sorted by date.</h3>
        <tr>
          <th>id</th>
          <th>purchase date</th>
          <th>customer</th>
          <th>staff</th>
          <th>book title</th>
          <th>copies purchased</th>
          <th>line total</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{moment this.date format="LL"}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.staff}}</td>
            <td>{{this.title}}</td>
            <td>{{this.copies}}</td>
            <td>{{this.total}}</td>
            <td><button onclick="deletePurchase({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>

  <div>
    <h3>Add a new purchase.</h3>

    <form id="add-purchase-form" method="POST" action="/add-purchase-form">

      <p>To add a new purchase, please enter the purchase information below then
        click submit.</p>

      <label for="input-purchaseDate">Purchase Date: </label>
      <input
        type="date"
        name="input-purchaseDate"
        id="input-purchaseDate"
        required
      />
      <br />

      <label for="select-customer">Customer: </label>
      <select name="select-customer" id="select-customer">
        <option value=""></option>
        {{#each dropDown1}}
          <option value="{{this.id}}">{{this.customer}}</option>
        {{/each}}
      </select>
      <br />

      <label for="select-staff">Staff: </label>
      <select name="select-staff" id="select-staff">
        <option value=""></option>
        {{#each dropDown2}}
          <option value="{{this.id}}">{{this.staff}}</option>
        {{/each}}
      </select>
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

</div>