{{! 

Overall structure - adapted
  Oregon State University, CS340: Introduction to Databases - 'nodejs-starter-app'
  George Kochera, Cortona1, Michael Curry, dmgs11 (2/28/23 - 3/19/23 )
  https://github.com/osu-cs340-ecampus/nodejs-starter-app

}}

<h2>purchases</h2>

<div class="flex-container">

  <div>

    <table id="purchase-table">

      <thead>
        <h3>Purchases sorted by date.</h3>
        <p>If there is not staff member associated with a puchase it can be assumed that the customer utilized the self checkout kiosk avaliable in store.</p>
        <tr>
          <th>id</th>
          <th>purchase date</th>
          <th>customer</th>
          <th>staff</th>
          <th>number of items sold</th>
          <th>order total</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{moment this.date format="LL"}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.staff}}</td>
            <td>{{this.number_sold}}</td>
            <td>{{this.order_total}}</td>
            <td><button id="delete" class="delete" onclick="deletePurchase({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}

      </tbody>
    </table>

  <script src="./js/delete_purchase.js"></script>

  </div>

<div>
    <h3>Search for a purchase.</h3>

    <form id="search-purchase-html" method="GET" action="/purchases">
      <p>Search by <b>date</b> using the field below. To reset the table, click the reset button below.</p>

      <label for="input-lastName" class="col-40">Search by date: </label>
      <br />

      <input type="date" name="date" id="input-purchase-html-search" />
      <br />

      <button class="submit">Submit</button>
      <a href="/purchases"><button>Reset</button></a>

    </form>
  </div> 

  <div>
    <h3>Add a new purchase.</h3>

    <form id="add-purchase-form" method="POST" action="/add-purchase-form">

      <p>To add a new purchase, please enter the purchase information below then
        click submit.</p>

      <label for="input-purchaseDate" class="col-40">Purchase Date: </label>
      <input type="date" name="input-purchaseDate" id="input-purchaseDate" required>
      <br />

      <label for="select-customer" class="col-40">Customer: </label>
      <select name="select-customer" id="select-customer" required>
        <option value=""></option>
        {{#each dropDownCustomers}}
          <option value="{{this.id}}">{{this.customer}}</option>
        {{/each}}
      </select>
      <br />

      <label for="select-staff" class="col-40">Staff (optional): </label>
      <select name="select-staff" id="select-staff">
        <option value=""></option>
        {{#each dropDownStaff}}
          <option value="{{this.id}}">{{this.staff}}</option>
        {{/each}}
      </select>
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

   <div>

    <h3>Update a purchase.</h3>
    
    <form id="update-purchase-form">
      <p>Use the form below to update a purchase.</p>

      <label for="select-purchase" class="col-40">Purchase to update: </label>
      <select name="select-purchase" id="select-purchase" onchange="updateFormValues()">
        <option value=""></option>
        {{#each dropDownPurchases}}
          <option value="{{this.id}},{{this.customerId}},{{this.staffId}},{{moment this.date format="YYYY-MM-DD"}}">{{moment this.date format="l"}} - {{this.customerName}}</option>
        {{/each}}
      </select>

      <br>
      <hr class="line">
      <br>


      <label for="input-newDate" class="col-40">Date: </label>
      <input
        type="date"
        name="input-newDate"
        id="input-newDate"
        required
      />
      <br />

      <label for="select-newStaff" class="col-40">Staff (optional): </label>
      <select name="select-newStaff" id="select-newStaff">
        <option value=""></option>
        {{#each dropDownStaff}}
          <option value="{{this.id}}">{{this.staff}}</option>
        {{/each}}
      </select>
      <br />

      <label for="select-newCustomer" class="col-40">Customer: </label>
      <select name="select-newCustomer" id="select-newCustomer" required>
        <option value=""></option>
        {{#each dropDownCustomers}}
          <option value="{{this.id}}">{{this.customer}}</option>
        {{/each}}
      </select>
      <br />


      <button class="submit">Submit</button>
    </form>

    <script src="./js/update_purchase.js"></script>

  </div>

</div>