<h2>purchaseBookDetails</h2>

<table>

    <thead>
        <p>An intersection table linking purchases to customers and the staff that made the sale.</p>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    <tbody>

        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.book}}</td>
            <td>{{this.purchase}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>