{{! 

Overall structure - adapted
  Oregon State University, CS340: Introduction to Databases - 'nodejs-starter-app'
  George Kochera, Cortona1, Michael Curry, dmgs11 (2/28/23 - 3/19/23 )
  https://github.com/osu-cs340-ecampus/nodejs-starter-app

}}

<h2>purchaseBookDetails</h2>

<div class="flex-container">

  <div>
    <table id="purchase-book-detail-table"> 

      <thead>
        <h3>An intersection table ordered by purchase date.</h3>
        <tr>
          <th>detail id</th>
          <th>purchase id</th>
          <th>date</th>
          <th>customer</th>
          <th>staff</th>
          <th>book id</th>
          <th>title</th>
          <th>quantity</th>
          <th>line total</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.purchase_id}}</td>
            <td>{{moment this.date format="LL"}}</td>
            <td>{{this.customer}}</td>
            <td>{{this.staff}}</td>
            <td>{{this.book_id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.line_total}}</td>
            <td><button id="delete" class="delete" onclick="deletePurchaseBookDetail({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <script src="./js/delete_purchaseBookDetail.js"></script>

  </div>

  <div>
    <h3>Add details for a purchase.</h3>

    <form id="add-details-form" method="POST" action="/add-details-form">
      <p>To add details to a purchase, please supply the requested information
        then click submit.</p>

      <label for="select-purchase" class="col-40">Purchase: </label>
      <select name="select-purchase" id="select-purchase" required>
       <option value=""></option>
        {{#each dropDownPurchases}}
        <option value="{{this.id}}">{{moment this.date format="l"}} - {{this.customer}}</option>
        {{/each}}
      </select>
      <br />

      <label for="select-book" class="col-40">Book: </label>
      <select name="select-book" id="select-book" onchange="updateMax()" required>
       <option value=""></option>
        {{#each dropDownBooks}}
        <option value="{{this.id}},{{this.quantity}}">{{this.title}}</option>
        {{/each}}
      </select>
      <br />

      <label for="input-quantity" class="col-40">Quantity: </label>
      <input type="number" name="input-quantity" id="input-quantity" min="1" required />
      <br />

      <script src="./js/update_purchase_max.js"></script>

      <button class="submit">Submit</button>

    </form>
  </div>

</div>