<h2>staff</h2>

<div class="flex-container">

<div>
<table>
    <thead>
        <h3>Staff sorted by last name.</h3>
        <tr>
            <th>id</th>
            <th>last</th>
            <th>first</th>
            <th>email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.last}}</td>
            <td>{{this.first}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteStaff({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<div>
<h3>Add a new staff member.</h3>

<form id="add-staff-form" method="POST" action="/add-staff-form">

<p>To add a new staff member, please enter their information below then click submit.</p>

    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName" required>
    <br>

    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName" required>
    <br>

    <label for="input-email">Email: </label>
    <input type="email" name="input-email" id="input-email" required>
    <br>
    
    <button class="submit">Submit</button>

</form>
</div>

</div>