<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<h2>staff</h2>

<div class="flex-container">

  <div>

    <table id="staff-table">
      
      <thead>
        <h3>Staff sorted by last name.</h3>
        <tr>
          <th>id</th>
          <th>last</th>
          <th>first</th>
          <th>email</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        {{#each data}}
          <tr>
            <td>{{this.id}}</td>
            <td>{{this.last}}</td>
            <td>{{this.first}}</td>
            <td>{{this.email}}</td>
            <td><button id="delete" class="delete" onclick="deleteStaff({{this.id}})">Delete</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    <script src="./js/delete_staff.js"></script>
  </div>

  <div>
    <h3>Search for a staff member.</h3>

    <form id="search-staff-html" method="GET" action="/staff">
      <p>Search by <b>last name</b> using the field below. Partial last names are able
        to be searched. To reset the table, click the reset button below.</p>

      <label for="input-lastName" class="col-40">Search by last name: </label>
      <br />

      <input type="text" name="lastName" id="input-lastName-html-search" />
      <br />

      <button class="submit">Submit</button>
      <a href="/"><button>Reset</button></a>

    </form>
  </div>

  <div>
    <h3>Add a new staff member.</h3>

    <form id="add-staff-form" method="POST" action="/add-staff-form">

      <p>To add a new staff member, please enter their information below then
        click submit.</p>

      <label for="input-firstName" class="col-40">First Name: </label>
      <input type="text" name="input-firstName" id="input-firstName" required />
      <br />

      <label for="input-lastName" class="col-40">Last Name: </label>
      <input type="text" name="input-lastName" id="input-lastName" required />
      <br />

      <label for="input-email" class="col-40">Email: </label>
      <input type="email" name="input-email" id="input-email" required />
      <br />

      <button class="submit">Submit</button>

    </form>
  </div>

  <div>

    <h3>Update a staff member.</h3>
    
    <form id="update-staff-form">
      <p>Use the form below to update a staff member's information.</p>

      <label for="select-staff" class="col-40">Staff Member: </label>
      <select name="select-staff" id="select-staff" onchange="updateFormValues()">
        <option value=""></option>
        {{#each dropDown}}
          <option value="{{this.id}},{{this.first}},{{this.last}},{{this.email}}">{{this.staff}}</option>
        {{/each}}
      </select>

      <br>
      <hr class="line">
      <br>

      <label for="input-newFirstName" class="col-40">First Name: </label>
      <input
        type="text"
        name="input-newFirstName"
        id="input-newFirstName"
        required
      />
      <br />

      <label for="input-newLastName" class="col-40">Last Name: </label>
      <input
        type="text"
        name="input-newLastName"
        id="input-newLastName"
        required
      />
      <br />

      <label for="input-newEmail" class="col-40">Email: </label>
      <input
        type="email"
        name="input-newEmail"
        id="input-newEmail"
        required
      />
      <br />

      <button class="submit">Submit</button>
    </form>

    <script src="./js/update_staff.js"></script>

  </div>

</div>